<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p>Login: <input [(ngModel)]="user.login"></p>
            <p>E-mail: <input [(ngModel)]="user.email"></p>
            <p>Phone: <input [(ngModel)]="user.phone"></p>
            <p>Birthday: <input #input type="text" value="{{user.birthday}}"> </p>

            <button class="btn btn-primary btn-lg" (click)="save()">Save</button>
        </div>
    </div>
</div>