    <form>
        <div class="col-md-6">
            <div class="form-group">
                <label>Kind
                    <select class="form-control" name="kind" [(ngModel)]="kind"
                            (change)="search(kind, breed, minimalAge, maximalAge)">
                        <option [attr.selected]="true" value=""></option>
                        <option *ngFor="let item of kinds" [value]="item">{{item}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>Breed <input class="form-control" type="text" name="breed" [(ngModel)]="breed"
                                    (input)="search(kind, breed, minimalAge, maximalAge)"/>
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label> Age from <input class="form-control" type="number" name="minimalAge"
                                        [(ngModel)]="minimalAge" 
                                        (input)="search(kind, breed, minimalAge, maximalAge)"/>
                                        <!--(keypress)="search(kind, breed, minimalAge, maximalAge)"/>-->
                </label>
                <br>
                <label>to <input class="form-control" type="number" name="maximalAge"
                                 [(ngModel)]="maximalAge"
                                 (input)="search(kind, breed, minimalAge, maximalAge)"/>
                                 <!--(keypress)="search(kind, breed, minimalAge, maximalAge)"/>-->
                </label>
            </div>
        </div>
    </form>

<!--<div *ngIf="error"><strong>Error, incorrect input</strong></div>-->
