<ngb-carousel>
    <ng-template ngbSlide *ngFor="let slide of slides; let i = index">
        <img class="img-responsive carousel-slide-img-back" src="{{slide}}" alt="i">
        <img class="img-responsive carousel-slide-img-front" src="{{slide}}" alt="i">
    </ng-template>
</ngb-carousel>