<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="" class="navbar-brand">
                <span>{{title}}</span>
            </a>
        </div>
        <div class="navbar-collapse">
            <div class="menu" *ngIf="!auth">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a routerLink="/search" routerLinkActive="active">Search</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="/registration" routerLinkActive="active">Registration</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                </ul>
            </div>
            <div class="menu" *ngIf="auth">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a routerLink="/add_advert" routerLinkActive="active">Add</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="/search" routerLinkActive="active">Search</a>
                    </li>
                    <li>
                        <a (click)="logout()">Log out</a>
                    </li>
                    <li role="presentation">
                        <a [routerLink]="['/info', login]" routerLinkActive="active">{{login}}</a>
                    </li>
                    <li role="presentation">
                        <a routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>