<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="center">
                <h1>Login</h1>
            </div>
            <h3 [hidden]="message === ''" class="alert alert-danger">{{message}}</h3>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <input placeholder="Login" class="form-control" type="text" id="login" required [(ngModel)]="login"
                           name="login">
                </div>
                <div class="form-group">
                    <input placeholder="Password" class="form-control" type="password" id="password" required
                           [(ngModel)]="password" name="password">
                </div>
                <div class="text-right">
                    <button class="btn btn-primary btn-lg" type="submit" [disabled]="!loginForm.form.valid">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
