<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="form-group">
                <label>Name: <input class="form-control" [(ngModel)]="advert.pet.name"></label>
            </div>

            <div class="form-group">
                <label>Kind:
                    <select class="form-control" name="kind" [(ngModel)]="advert.pet.kind">
                        <option *ngFor="let kind of kinds" [value]="kind">{{kind}}</option>
                    </select>
                </label>
            </div>

            <div class="form-group">
                <label>Breed: <input class="form-control" [(ngModel)]="advert.pet.breed"> </label>
            </div>

            <div class="form-group">
                <label>Age: <input class="form-control" [(ngModel)]="advert.pet.age"></label>
            </div>
            <div class="form-group">
                <label>Description: <textarea class="form-control" [(ngModel)]="advert.text"> </textarea> </label>
            </div>

            <file-upload (onUpload)="onUpload($event)" [start]="startUpload"></file-upload>

            <div class="form-group">
                <input class="btn btn-primary btn-lg" type="button" (click)="saveDateAndStartImageUpload()" value="Save">
            </div>
        </div>
    </div>
</div>