<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="center">
                <h1>Registration</h1>
            </div>
            <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
                <div class="form-group">
                    <input class="form-control" placeholder="Login" type="text" id="login" required name="login"
                           minlength="4" maxlength="24" [(ngModel)]="registrationDTO.login">
                    <div *ngIf="formErrors.login" class="alert alert-danger">
                        {{formErrors.login}}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" type="password" id="password" #password
                           (keyup)="0" required name="password"
                           minlength="8" maxlength="100" [(ngModel)]="registrationDTO.password">
                    <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{formErrors.password}}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Confirm Password" type="password" id="confirmPassword"
                           #confirmPassword (keyup)="0" required name="confirmPassword">
                    <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
                        {{formErrors.confirmPassword}}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Email" type="email" id="email" name="email"
                           [(ngModel)]="registrationDTO.email">
                    <div *ngIf="formErrors.email" class="alert alert-danger">
                        {{formErrors.email}}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Phone" type="tel" id="phone" name="phone"
                           [(ngModel)]="registrationDTO.phone">
                    <div *ngIf="formErrors.phone" class="alert alert-danger">
                        {{formErrors.phone}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="Birthday" id="birthday" name="birthday"
                               [(ngModel)]="registrationDTO.birthday" ngbDatepicker #birthday="ngbDatepicker">
                        <div class="input-group-addon" (click)="birthday.toggle()">
                            <img class="calendar-img" src="https://ng-bootstrap.github.io/img/calendar-icon.svg"/>
                        </div>
                    </div>
                    <div *ngIf="formErrors.birthday" class="alert alert-danger">
                        {{formErrors.birthday}}
                    </div>
                </div>
                <div class="text-right">
                    <div class="alert alert-danger d-inline" *ngIf="message != ''">{{message}}</div>
                    <button class="btn btn-primary btn-lg d-inline" type="submit"
                            [disabled]="!registrationForm.form.valid || (password.value != confirmPassword.value)">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

