.input-group-addon {
    padding: 5px 24px;
    cursor: pointer;
}

.calendar-img {
    width: 2.5rem;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 0;
}