<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1>Search</h1>
            </div>
            <search (onContentChanged)="onContentChanged($event)"></search>
        </div>
        <div class="col-md-12">
            <results [cards]="cards"></results>
        </div>
    </div>
</div>