@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
    color: #3498db;
}

a:hover, a:focus {
    color: #528cb3;
}

.center {
    padding: 1em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    line-height: 1.1em;
}

p {
    color: #8a8d94;
}

.thumb {
    margin-bottom: 30px;
}

.form-group label {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 300;
}

.form-group .form-control {
    padding: 7px 12px;
    border-color: #f2f2f2;
    box-shadow: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
}

select.form-control {
    width: 100%;
    height: 34px !important;
    padding: 0 12px !important;
}

.alert {
    padding: 4px;
}

.btn {
    color: #333;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #36CBD4;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    padding: 8px 20px;
    background: #36CBD4;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #36CBD4;
    outline: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.carousel-slide-img-back {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    height: 500px;
}

.carousel-slide-img-front {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
}
