<div *ngFor="let card of cards; let i = index" class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a *ngIf="cards[i] && !error" [routerLink]="['/poster', cards[i].advertId]"
       class="thumbnail">
        <card [card]="cards[i]"></card>
    </a>
</div>


<div>
    <div *ngIf="cards.length === 0 && !error"><h3>Nothing found</h3></div>
    <div *ngIf="error"><h3>Invalid search query</h3></div>
</div>
