<div class="container">
    <div class="row">
        <div class="col-md-7 carousel-wrap">
            <carousel [slides]="slides"></carousel>
        </div>
        <div class="col-md-5">
            <div class="alert alert-warning text-center"  *ngIf="status != 'open'">
                Advert closed
            </div>
            <div *ngIf="login == loginLocalStorage">
                <button class="btn btn-primary btn-lg status-btn"
                        (click)="changeStatus()">
                    {{status == "open" ? "Close advert" : "Reopen advert"}}
                </button>
                <hr>
            </div>
            <h1>
                Owner: <a [routerLink]="['/info', login]" [class.disabled]="login ? null : true">{{login}}</a>
            </h1>
            <h1>Telephone: {{phone}}</h1>
            <h1>Email: {{email}}</h1>
            <hr>
            <h1>Info:</h1>
            <p>{{info}}</p>
        </div>
    </div>
</div>