<div class="container">
    <h5>Информация о проекте:</h5>
    Данный сервис предназначен для обмена домашними животными между людьми и прютами.

    <br>
    <br>
    <h5>Создатели:</h5>
    Фёдор Гурьянов, Дмитрий Михайлов, Светлана Глейзерман, Дмитрий Кожевников, Олег Шульпеков
</div>
