<div class="getpet-card">
    <img [attr.src]="imageUrlPrefix + card.image" class="img-responsive card-image"/>
    <div class="card-block">
    <div>
        <label>Kind: </label> {{card.kind}}
    </div>
    <div>
        <label>Breed: </label> {{card.breed}}
    </div>
    <div>
        <label>Age: </label> {{card.age}}
    </div>
    </div>
</div>