<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p>Login: {{user.login}}</p>
            <p>E-mail: {{user.email}}</p>
            <p>Phone: {{user.phone}}</p>
            <p>Birthday: {{user.birthday}}</p>
            <div *ngIf="loginUrl == loginLocalStorage">
                <button class="btn btn-primary btn-lg" (click)="edit()">Edit</button>
            </div>
        </div>
        <div class="col-md-5">
            <div *ngIf="pets.length > 0">
                <h1>{{user.login}}'s pets</h1>
                <hr>
                <a *ngFor="let pet of pets" [routerLink]="['/poster', pet.advertId]" class="thumbnail pet-list-item">
                    <img [attr.src]="imageUrlPrefix + pet.image" class="d-inline">
                    <h1 class="d-inline">{{pet.name}}</h1>
                </a>
            </div>
        </div>
    </div>
</div>
