.pet-list-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto;
}

.pet-list-item h1 {
    display:inline;
    padding: 0 20px;
}

a.pet-list-item {
    text-decoration: none;
}

.pet-list-item div.well {
    border-radius: 0 !important;
}